.PlayerRSWP {
    margin-bottom: 0px !important;
    width: 90% !important;
    margin-left: 5% !important;
    background-color: rgb(60, 60, 60) !important;
}

.Player-Container {
    position: fixed ;
    bottom: 10vh ;
    margin: 0px;
    padding:0;
    background-color: rgb(60, 60, 60);
    width: 100%;
}

.float-child {
    float: left;
}

.float-child:hover {
    cursor: pointer;
}

.bubble_one {
    width: 24vh;
    height: 24vh;
    border: 2px solid;
    border-radius: 100%;
    color: black;
    margin: 0 3vh 0 0;
    overflow: hidden;
}

.bubble_two {
    width: 21vh;
    height: 21vh;
    border: 2px solid;
    border-radius: 100%;
    color: black;
    margin: 0 0 0 -1vh;
    overflow: hidden;

}

.bubble_three {
    width: 19vh;
    height: 19vh;
    border: 2px solid;
    border-radius: 100%;
    color: black;
    margin: 0 0 0 0;
    overflow: hidden;

}

.bubble_four {
    width: 17vh;
    height: 17vh;
    border: 2px solid;
    border-radius: 100%;
    color: black;
    margin: -3vh 0 0 4vh;
    overflow: hidden;

}

.bubble_five {
    width: 16vh;
    height: 16vh;
    border: 2px solid;
    border-radius: 100%;
    color: black;
    margin: -4vh 2vh 0 0;
    overflow: hidden;

}

.bubble_six {
    width: 15vh;
    height: 15vh;
    border: 2px solid;
    border-radius: 100%;
    color: black;
    margin: -6vh 0 0 0;
    overflow: hidden;

}

.bubble_seven {
    width: 14vh;
    height: 14vh;
    border: 2px solid;
    border-radius: 100%;
    color: black;
    margin-top: -4vh;
    overflow: hidden;

}

.bubble_eight {
    width: 13vh;
    height: 13vh;
    border: 2px solid;
    border-radius: 100%;
    color: black;
    margin: -1vh 0 0 4vh;
    overflow: hidden;

}