.Radio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.PlayerRSWP {
    margin-bottom: 0px !important;
    width: 90% !important;
    margin-left: 5% !important;
    background-color: transparent!important;
}

.Player-Container {
    position: fixed ;
    bottom: 10vh ;
    margin: 0px;
    padding:0;
    background-color: transparent;
    width: 100%;
}

.float-child {
    float: left;
}

.float-child:hover {
    cursor: pointer;
}
