.Radio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.PlayerRSWP {
    margin-bottom: 0px !important;
    width: 100% !important;
    background-color: transparent!important;
}

.Player-Container {
    position: fixed ;
    bottom: 8vh ;
    margin: 0px;
    padding:0;
    background-color: #C1DEDC;
    width: 100%;
}

.float-child {
    float: left;
}

.float-child:hover {
    cursor: pointer;
}


.dropdown-menu{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 50px;
    z-index: 5;
    height:400px;
    width: 200px;
    overflow-y: scroll;
    position: absolute;
    border-radius: 5%;
}

.dropdown-menu-item{

    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 0px;
    background-color: rgb(102, 51, 153);
    color: white;
}

.dropdown-menu-item:hover {
    background-color: #C1DEDC;
    color: black;
}

.dropdown{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px;
    background-color: rgb(102, 51, 153);
    color:white;
    font-size: 14px;
    border: 1px solid #C1DEDC;
}

.dropdown:hover{
    background-color: #C1DEDC;
    color: black;
}

.dropdown:active{
    background-color: #C1DEDC;
    color: black;
}

.dropdown-menu-item>img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

