.Avatar-Picture{
    width: 70px;
    height:70px;
    border-radius: 50%;
    
}

.Avatar{
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
