.Preferencs{
    width: 100%;
    margin: 5%;
    height: 15vh;
}

.slide img{
    width: 20rem;
    margin: 0 auto;
}

.slide {
    transform: scale(0.2);
    transition: transform 300ms;
    opacity: .5;
}

.active-slide{
    transform: scale(1);
    opacity: 1;
}

.arrow{
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.next{
    right: 0%;
    top: 50%;
}

.prev{
    left: 0%;
    top: 50%;
}

