.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(60, 60, 60);
    height: 90vh;
    overflow: scroll;
}


.Player-Container {
    position: fixed ;
    bottom: 8vh ;
    margin: 0px;
    padding:0;
    background-color: #C1DEDC;
    width: 100%;
}