.Album-PlaceHolder{
    display: inline-block;
    width: 110px;
    height: 110px;
    padding: 0 5px 5px 5px;
    border-radius: 20%;
}

.Category-Name{
    padding:   20px 0px 0px 15px;
    font-size: 20px;    
}

.Carousel{
    margin-left: 15px;
}

/*Add shadow under albuums*/