.NavBar {
    width: 100%;
    min-height: 20vh;
    position: fixed;
    bottom: 0;
}

.nav-links {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #C1DEDC;
}

.home-icon img {
    width: 50px;
    padding: 10px 15px;
}

.radio-icon img {
    width: 160px;
    position: relative;
    bottom: 50px;
}

.user-icon img {
    width: 50px;
    padding: 10px 15px;
}
