.User-Card{
    display: flex;


}

.Followers-Container{
    margin-left: 50px;
    margin-top: 0px;
}

h4{
    margin: 10px;
    text-align: center;
    font-size: 10px;
}

.Edit-Button{
    border-radius: 20px;
    border-style: none;
    width:  124px;
    height: 35px;
    font-size: 15px;
}

.Button-Container{
    padding-left: 20px;
    padding-top: 10px;
}

.Following-Container{
    margin-right: 20px;
    padding-left: 20px;
}